@import '../variables/colors.scss';

.singleTodo {
    padding: 16px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $separate-line;

    &__wrapperTask {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__icon {
        &__check {
            display: block;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        &__remove {
            cursor: pointer;
        }
    }

    &__text {
        color: $primary-text-light;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.167px;
        user-select: none;
    }

    &--complete {
        color: $complete-text;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.167px;
    text-decoration: line-through;
        user-select: none;
    }
}