@import '../variables/colors.scss';

.singleTodo {
    padding: 16px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;



    &--light {
        border-bottom: 1px solid $separate-line;

    }

    &--dark {
        background-color: $background-input-dark;
        border-bottom: 1px solid $separate-line-dark;
    }

    @media screen and (min-width:834px) {
        padding: 20px 24px;
    }

    &__wrapperTask {
        display: flex;
        align-items: center;
        gap: 12px;
        user-select: none;

        @media screen and (min-width:834px) {
            gap: 24px;
        }
    }

    &__icon {
        &__check {
            display: block;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        &__remove {
            cursor: pointer;

            @media screen and (min-width:834px) {
                & svg {
                    width: 18px;
                    height: 18px;
                }
            }

            &--dark {
                & svg {
                    fill: $primary-text-light;
                }
            }

        }

    }

    &__text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.167px;
        user-select: none;

        @media screen and (min-width:834px) {
            font-size: 18px;
            letter-spacing: -0.25px;
        }

        &--light {
            color: $primary-text-light;
        }

        &--dark {
            color: $input-text-dark;
        }
    }

    &--complete {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.167px;
        text-decoration: line-through;
        user-select: none;

        @media screen and (min-width:834px) {
            font-size: 18px;
            letter-spacing: -0.25px;

        }

        &--light {
            color: $complete-text;

        }

        &--dark {
            color: $complete-todo-text;
        }
    }
}