@import '../variables/colors.scss';

.header {
    height: 300px;
    background-repeat: no-repeat;
    &--light{
        
    }
    background-image:
        linear-gradient(225deg, rgb(85, 150, 255, .7) 0%, rgb(172, 45, 235, .6) 100%),
        url('/public/assets/background/mobile-light-image.jpg');
    background-size: cover;

    @media screen and (min-width:834px) {
        background-image:
            linear-gradient(225deg, rgb(85, 150, 255, .7) 0%, rgb(172, 45, 235, .6) 100%),
            url('/public/assets/background/tablet-light-image.jpg');

    }

    @media screen and (min-width:1440px) {
        background-image:
            linear-gradient(225deg, rgb(85, 150, 255, .7) 0%, rgb(172, 45, 235, .6) 100%),
            url('/public/assets/background/desktop-light-image.jpg');

    }
}