@import '../variables/colors.scss';

.header {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    
    &--light {

        background-image:
            linear-gradient(225deg, rgb(85, 150, 255, .7) 0%, rgb(172, 45, 235, .6) 100%),
            url('/assets/background/mobile-light-image.jpg');

        @media screen and (min-width:834px) {
            background-image:
                linear-gradient(225deg, rgb(85, 150, 255, .7) 0%, rgb(172, 45, 235, .6) 100%),
                url('/assets/background/tablet-light-image.jpg');

        }


    }

    &--dark {
        background-image:
            linear-gradient(135deg, rgb(55, 16, 189, .7) 0%, rgb(164, 35, 149, .6) 100%),
            url('/assets/background/mobile-dark-image.jpg');

        @media screen and (min-width:834px) {
            background-image:
                linear-gradient(135deg, rgb(55, 16, 189, .7) 0%, rgb(164, 35, 149, .6) 100%),
                url('/assets/background/tablet-dark-image.jpg');

        }

    }
}
